.container {
    display: flex;
    justify-content: center;
}

.title {
    color: black;
    background-color: #F7F6DC;
    width: 300px;
    border-radius: 7px;
    font-size: 30px;
}

.inputContainer {
    display: flex;
}

.input {
    width: 200px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 7px;
    border-width: 1px;
    border-color: #ccc;
}

.input:hover {
    cursor: pointer;
    background-color: #F7F6DC;
    transition: 1s;
}

.textarea {
    width: 300px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 7px;
    resize: none;
}

.textarea:hover {
    cursor: pointer;
    background-color: #F7F6DC;
    transition: 1s;
}
.button {
    border: none;
    color: black;
    font-size: larger;
    padding: 16px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    background-color: #F7F6DC;
}

.button:hover {
    cursor: pointer;
    transition: 1s;
}

label{
    color: black;
    font-size: 20px;
}