.card{
    display: flex;
    flex-direction: column;
    width: 25rem; 
    height: 70vh;
    align-items: center;
    border-width: 0.2rem;
    border-style:hidden;
    background-size:cover;
    border-radius: 10px;
    transition: transform .5s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #51C4D3;
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.imagen {
    width: 25rem;
    border-radius: 10px;
    max-height: 350px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 2.5px 4.5px 0 rgba(0,0,0,.2);
}

.dietsContainer{
    display: flex;
    margin: auto;
}

.dietTitle {
    margin-right: 15px;
}

.healthScoreContainer{
    display: flex;
}